body {
    background-image: url("images/woman-2260736_1920.jpg");
  /* background-size: 100%; */
    background-repeat: no-repeat;
    font-family: "Anton SC", sans-serif;
    /* font-weight: 400; */
    margin: 0;
    padding: 0;
  }

  .container {
    display:flex;
    width: 100%;
  }

  #form {
    margin-right: 60px;
    width: max-content;
    padding: 5px 20px;
  }
  
  h1 {
    font-family: "Anton SC", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 70px;
    margin: 0;
    padding: 0;
    color: white;
    font-size: 40px;
  }

  #main-head {
    color: rgb(204, 80, 80);
  }

  #h2 {
    font-family: "Anton SC", sans-serif;
    font-weight: 200;
    font-style: normal;
    font-size: 60px;
    margin: 0;
    padding: 0;
    text-align: center;
    color: #f1f1f1;
  }

  #h3 {
    font-family: "Anton SC", sans-serif;
    font-weight: 200;
    font-style: normal;
    font-size: 30px;
    margin: 0;
    padding: 0;
    color: white;
  }

  ul, li {
    font-family: "Anton SC", sans-serif;
    font-weight: 200;
    font-size: 25px;
    font-style: normal;
    margin: 0;
    padding: 0;
    color: #c5c5c5;
  }

  #list-head {
    font-family: "Anton SC", sans-serif;
    font-weight: 200;
    font-size: 25px;
    font-style: normal;
    margin: 0;
    padding: 0;
    color: rgb(204, 80, 80);
  }
  
  #form-heading {
    color: #000000;
    font-family: "Anton SC", sans-serif;
    font-weight: 200;
    font-size: 40px;
    text-align: center;
    margin: 5px 20px;
  }

  a {
    text-decoration: none;
    color: #333;
  }
  
  img {
    width: 100%;
    height: auto;
  }
  
  /* Header Styles */
  header {
    display: flex;
    background-color: #f1f1f1a7;
    padding: 20px;
    text-align: center;
  }
  
  /* Hero Section Styles */
  .hero {
    text-align: center;
  }
  
  .hero img {
    margin-bottom: 20px;
  }
  
  /* Content Section Styles */
  .content {
    padding: 0px 40px;
  }
  
  h2 {
    font-size: 1.5em;
    margin-bottom: 20px;
    color: #333;
  }
  
  p {
    font-size: 1em;
    line-height: 1.5;
    color: #666;
  }
  
  ul {
    list-style:disc;
    margin-top: 20px;
    padding-left: 20px;
  }
  
  li {
    margin-bottom: 10px;
  }

  /* Call to Action Section Styles */
  .cta {
    text-align: center;
    padding: 20px;
  }
  
  .cta a {
    background-color: #333;
    color: #fff;
    padding: 15px 30px;
    font-size: 1em;
    display: inline-block;
    border-radius: 5px;
    transition: background-color 0.3s ease;
  }
  
  .cta a:hover {
    background-color: #222;
  }
  
form {
    background-color: #fff;
    border-radius: 25px;
    max-width: 500px;
    margin: 50px auto;
    padding: 30px 20px;
    box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.5);
}

/* Styling form-control Class */
.form-control {
    text-align: left;
    margin-bottom: 25px;
}

/* Styling form-control Label */
.form-control label {
    font-family: "Anton SC", sans-serif;
    font-weight: 50;
    font-size: 18px;
    display: block;
    margin-bottom: 10px;
}

/* Styling form-control input, 
select, textarea */
.form-control input,
.form-control select,
.form-control textarea {
    border: 1px solid #777;
    border-radius: 5px;
    font-family: "Anton SC", sans-serif;
    font-weight: 50;
    padding: 10px;
    display: block;
    width: 95%;
}

.form-control input[type="radio"],
.form-control input[type="checkbox"] {
    display: inline-block;
    width: auto;
}

button {
    background-color: #000000;
    color: white;
    border: 1px solid #777;
    border-radius: 5px;
    font-family: "Anton SC", sans-serif;
    font-weight: 300;
    font-size: 21px;
    display: block;
    width: 100%;
    margin-top: 50px;
    margin-bottom: 20px;
}

  /* Footer Styles */
  footer {
    font-family: "Anton SC", sans-serif;
    font-weight: 50;
    background-color: #f1f1f169;
    text-align: center;
    padding: 10px;
    font-size: 20px;
  }

  #footer {
    color: white;
  }